@font-face {    font-family: scriptbl;    src: url(../fonts/SCRIPTBL.ttf);}
html,body{    	width: 100%;    	height: 100%;    	margin: 0px;    	padding: 0px;    	overflow-x: hidden; }
body{		margin: 0 auto;}
.body {		margin: auto;		width: 100%;}
.navbar {		margin: 0px 18px 0px 0px;    	padding: 0px;		background: rgba(255,255,255,1); 	color: #000;	height: 80px;}.navbar-collapse{	background: rgba(255,255,255,1); }
.navbar-default .navbar-nav > li > a{    color: #000;	font-weight: bold;	margin-top: 15px;}.navbar img {	display: inline-block;	margin:0px auto; 	padding-top: 5px;}.navbar-right img {	margin-right: 25px;}hr{	border-top: #D6C6DC solid 2px;	margin-top: 50px;}.titles{	margin-top: -90px;	text-align: center;}
.titles h1{	display: inline-block; 	font-size: 35px; 	color: #A6A6A6;	border: #D6C6DC solid 2px;	background: #f7f7f7;	width:250px;	padding: 25px}.hash{	/*position: relative;	display:block;	margin-top: 100px*/}.wellcome{	margin-top: 80px;}.wellcome img{	display:block;    margin:auto;		max-width: 100%;}.header_img img{	position: relative;	top: -110px;	right: 200px;	display:block;    margin:auto;	max-width: 70%;}.header{	text-align: center;	margin-top: -220px;}.header h1{	font-family: arial;	color: #A6A6A6;}.header h2{	font-family: scriptbl;	color: #AC93AF;}.header p{	font-family: scriptbl;	color: #AC93AF;	font-size: 20px;	padding-right: 50px;	padding-left: 50px;}.img_decoration{	margin: 0;}.img_decoration img{	display: block;	max-width: 100%;	margin: 0 auto;}
.treatment{		margin: 0; 		overflow: hidden;	padding-right: 50px;	padding-left: 50px;}.video img{	display:block;    margin:auto;		max-width: 100%;}.col {    padding-bottom: 100%;    margin-bottom: -100%;}
.treatment_box h2{		color: #D6C6DC;}
.treatment p{		padding: 0;}.right-col{	text-align: left;}.left-col{	text-align: right;}
.text_title
{
	font-weight:bold;
}.youtube-player{	width: 100%;	height: 350px;}
.contact_detail{		text-align: center;	}
.contact_detail a{		color: #000;	}
.contacts_row{		margin-top: 50px; }
.contacts{		margin: 0;	color:#000; }.contacts a {	color:#000;}.logo{	margin-top: 100px;	margin-bottom: 100px;}.logo img{	display:block;    margin:auto;}.button{	background: #AC93AF;	color: #fff;	display:block;    margin:auto;}.dir-decoration-spotlightbeautymd img{	display:block;    margin:auto;}.dir-decoration{	text-align: right;}.contact-map{	margin-bottom: 25px;	width: 90%;	height: 50%;	padding: 20px;	border: #D6C6DC solid 2px;}.map{	width: 100%;	height: 70%;}.social-icon{	text-align: center;	margin-bottom: 40px;}.social-icon img{	display: inline-block;    margin-left: auto;    margin-right: auto;}.products img{	display:block;    margin:auto;}
#copy_right{		text-align: center;}
#copy_right a{		color: #000;		text-decoration: none;}

@media (max-width:768px){			.navbar 	{			margin: 0px;  
	}		.contact-map	{		width: 100%;	}}
@media screen and (max-width: 480px) 
{			.header_img img	{		top: -70px;		right: 450px;		max-width: 60%;	}	.header	{		margin-top: -100px;	}	.header_img img	{		right: 40px;	}		.video img	{		padding-top: 50px;	}		.youtube-player	{		width: 100%;		height: 250px;	}		
}