

a
{
	color: #000;
}

html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

body
 {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	font-family: arial, serif;
}

.body
{
	
	margin: 50px 15px 0 15px;
	
	
}

body p
{
	text-align: justify;
}

#menu{	margin: 0px;  margin-right:18px;  padding: 0px;	background: rgba(255,255,255,1);	color: #000;}

#menu li a{	color: #000;	}


.blog_row
{

	margin: 50px 15px 10px 15px;
}

.sidebar
{
	background: rgba(211,211,211,0.4);
	margin: 50px 0 0 0;
}

.sidebar h4
{
	padding-top: 10px;
}

.header
{
text-align: center;	text-transform: uppercase;	font-size: 35px; color:#000; padding: 10px 0 10px 0; font-family: 'Satisfy', cursive;

}

.herder h3, a
{
	padding: 5px;
}

.copy_right p
{
	text-align: center;
}

.copy_right a
{
	padding-right: 20px;
	color: #000;
	bottom: 0;
	font-weight: normal;
}

.blog_post
{
	margin-top: 50px;
}

.blog_post h3 a
{
	padding: 10px 10px 0 10px;
	color: #000;
}

.blog_post p
{
	padding: 0 10px 0 10px;
}

.blog_post p
{
	padding: 0 10px 0 10px;
}

.border_out { margin: 0 0 50px 0; padding: 2px; background: #5c427d;	border: #000 solid 2px;}
.border { padding: 0; 	border: #000 solid 2px; background: #fff;}
.post_entry
{
		margin: 0px 0 0px 0; background: rgba(107,107,107, 0.4); color:#fff;
}

.post_single
{
	padding: 0 20px 0 20px;
	margin: 0 15px 0 0;
}

.post_single h2
{
	font-size: 25px;
	padding: 10px 0 0 0;
}

.post_single p
{
	padding: 0 10px 5px 10px;
}


.background{background: rgba(107,107,107, 0.9); color:#fff; border: #fff solid 7px;}
.entry img
{
	max-width: 100%;  
	height: auto;
	clear: both; 
	display: block; 
	float: left;
	padding: 0 10px 0 0;
}

.video-container 
{ 
	position: relative; 
	padding-bottom: 56.25%; 
	height: 0; 
	overflow: hidden; 
}
.video-container iframe, .video-container object, .video-container embed, .video-container video 
{ 
	position: absolute; 
	top: 0; 
	left: 0; 
	max-width: 100%; 
	height: 100%; 
	clear: both; 
	display: block; 
	float: left;
}

#respond
{
	padding: 0 0 10px 20px;
}

h4
{
	font-size: 25px;
}


.footer{	background: rgba(0,0,0,1);	margin: 0;	text-align: center;}

.logo_footer{
max-width: 100%;
padding: 25px;
}
